body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../public/water-droplets.jpg");
  color: white;
  background-color: rgba(rgba(152, 151, 151, 0.46));
  height: 100vh;
}

#root{
height: calc(100% - 300px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
